name: Deploy Angular to VPS

on:
  push:
    branches:
      - main  # Atau ganti ke nama branch utama lo

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18' # Sesuaiin sama versi Node lo

      - name: Install Dependencies
        run: npm install

      - name: Build Angular
        run: npm run build -- --configuration production

      - name: Deploy to VPS
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "dist/nama-projek-lo/*" # GANTI 'nama-projek-lo' sesuai folder hasil build
          target: "/var/www/anglerfish.com"
          strip_components: 2